body {
    line-height: 24px;
    letter-spacing: .02em;
}

.main-content {
    display: block;
    min-height: 500px;
}

.shopify-policy__container {
    max-width: 65ch;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.shopify-policy__title {
    text-align: center;
}

h1 {
    font-size: 2.307692308em;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25em;
    margin: 0;
    padding: 0;
    font-family: 'oswald', 'sans-serif';
}

.rte {
    font-family: 'oswald', 'sans-serif';
}

a {
    transition: all 0.3s ease;
    color: #5f5f5f;
}

a {
    text-decoration: none;
    background-color: transparent;
}

b,
strong {
    font-weight: bolder;
}

h3 {
    font-size: 20px;
    margin-bottom: 1.25em;
}

.mt-20 {
    margin-top: 85px;
}

.mt-21 {
    margin-top: 10px;
}

@media (max-width: 1199px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 769px) {
    .breadcrumb,
    .next-prev-product,
    .product-title-mobile {
        display: block;
    }
}

.breadcrumb {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    border-radius: 0;
    padding: 17px 0 15px;
    background-color: white !important;
}

.breadcrumb * {
    text-transform: capitalize;
    color: #5f5f5f;
}

a {
    text-decoration: none !important;
    background-color: transparent;
}

.breadcrumb .arrow {
    font-size: 16px;
    padding: 0 6px 0 8px;
}

.page-header h1,
.page-header h2 {
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-weight: 600;
    margin-bottom: 42px;
}

.page-tpl .rte,
.blog-detail .rte {
    line-height: 26px;
}

.page-tpl .rte p,
.blog-detail .rte p {
    margin-bottom: 2rem;
}

b,
strong {
    font-weight: bolder;
}